.card {
  background-color: var(--color-blue-700);
  color: #fff;
  width: 25rem;
  height: 12rem;
  border-radius: 2rem;
  padding: 2.2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.card p:nth-child(1) {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  font-weight: 300;
  margin-bottom: 0.7rem;
}

.card p:nth-child(2) {
  font-size: 2.9rem;
  font-weight: 300;
}
